{% extends "base.html" %}

<!--Sets this template as current page-->
{% block nav_home %} active-menu {% endblock %}

{% block content %} 
<div class="container-fluid">
    <div class="row index-main">
        <div class="col-12 col-md-8 offset-md-1 main-titles title-margin-top">
            <h3 class="standard-heading text-md-left text-sm-center">What is the plan for this Week and how do you plan what to do a head of time ?</h3>
            <hr class="standard-divider sm-screen-divider"> 
            <h4 class="standard-heading text-md-left text-sm-center">Well You have come to the perfekt webbsid, Here You can plan you week with ease by following 3 simple Steps.</h4>
            <ul>
            <h4>Step 1</h4>
            <li>Make a acationt easy and fast account <a href="/sign_up">Here</a> and get to action</li>
           <h4>step 2</h4>
           <li>click on the Add new plan Button and Add your and by filling in some form like <br> 
           what are you doing,what day are du doing it and when are going to do it.   </li>
           <h4>Step 3</h4>
           <li> Overview your Plans and see your to do  list/Plans for the week and have <strong>a week full of productive work and fun</strong> </li>

            </ul>
        </div>
    </div>
    
</div>

<div>
</div>

        <div class="container">
	<div class="row">
		<div class="col-md-6 lower-box-margin responsive-lower-margin">
			<h4 class="standard-heading">Already have an account?</h4>
			<a class="btn sign-in-btn" id="redirect-signin-btn" href="/sign_in">Sign in</a>
		</div>
	</div>
</div>
{% endblock %}
<form action="{{ url_for('add_task') }}" method="POST">
                <div class="form-group">
                <label for="plans_name">What's the plan</label>
                    <input id="task_title" name="task_title" type="text" class="form-control" placeholder="Name" required>
                </div>
                <div class="form-group">
                <label for="describeong_the_week_plan">Describ the week plan or Task to do </label>
                    <textarea id="task_info" name="task_info" type="text" class="form-control" placeholder="Extra Information" required > </textarea>
                </div>
               
                <div class="form-group">
                    <div class="datepicker date input-group">
                        <input type="text" class="form-control" id="task_due" name="task_due" placeholder="Due date" required>
                        <div class="input-group-append">
                            <span class="input-group-text px-4 calender-icon"><i class="far fa-calendar-alt"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <input class="task-btn sign-in-btn title-margin-top" type="submit" value="Add Task">
            </form>
        </div>
        
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center standard-box lower-box-margin responsive-lower-margin">
            <h4 class="smaller-heading">Return to My Plans</h4>   
            <a class="btn standard-sign-up-btn" id="redirect-overview" href="{{url_for('overview')}}">My Tasks</a>
        </div>
    </div>
</div>