{% extends "base.html" %}

<!--Sets this template as current page-->
{% block nav_home %} active-menu {% endblock %}

{% block content %} 
  <h3 class="standard-heading text-md-left center uppercase">
      CALL TO ACTION
    </h3>
    <hr class="standard-divider sm-screen-divider"> 
    <div class="row">
   

     <div class="col s12 m6">
      <div class="card">
        <div class="video-container">
          <iframe src="https://www.youtube.com/embed/nZ5CXiMgOCw" frameborder="0"></iframe>
          
        </div>
        <div class="card-content">
          <p>Napoleon Hill - 10 Rules of Self Discipline YOU MUST SEE.
              <br>

          </p>
        </div>
    
      </div>
    </div>


    <div class="col s12 m6">
      <div class="card">
        <div class="video-container">
          <iframe src="https://www.youtube.com/embed/brrj1X61lwI" frameborder="0"></iframe>
        </div>
        <div class="card-content">
          <p>
             STOP PROCRASTINATING & TAKE ACTION! | POWERFUL Motivational Video Speech
          </p>
        </div>
    
      </div>
    </div>

     <div class="col s12 m6">
      <div class="card">
        <div class="video-container">
          <iframe src="https://www.youtube.com/embed/6SfPf-_OavY" frameborder="0"></iframe>
        </div>
        <div class="card-content">
          <p>
            IF by Rudyard Kipling (A Life Changing Poem)
          </p> 
        </div>
    
      </div>
    </div> 
    
    <div class="col s12 m6">
      <div class="card">
        <div class="video-container">
          <iframe src="https://www.youtube.com/embed/tbnzAVRZ9Xc" frameborder="0"></iframe>
          
        </div>
        <div class="card-content">
          <p>
              WATCH THIS EVERYDAY AND CHANGE YOUR LIFE - Denzel Washington      Motivational Speech 2020    
            </p>
        </div>
    
      </div>
    </div>

  </div>


    


<div class="row">
	<div class="col-md-6 lower-box-margin responsive-lower-margin center">
			<h4 class="standard-heading">Already have an account?</h4>
            <a class="btn sign-in-btn" id="redirect-signin-btn" 
            href="/sign_in">Sign in</a>
		</div>
	</div>

{% endblock %}
